@charset "UTF-8";
/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}
body{
    font-family: "微软雅黑";
}

fieldset, img, input, button {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;
}

ul, ol {
    list-style: none;
}


select, input {
    vertical-align: middle;
}

select, input, textarea {
    font-size: 12px;
    margin: 0;
}
textarea {
    resize: none;
}


/*  去掉图片低测默认的3像素空白缝隙*/
table {
    border-collapse: collapse;
}


.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/
}

a {
    text-decoration: none;
}


a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;
    text-decoration: none;
}

.w {
    /*版心 提取 */
    width: 960px;
    margin: 0 auto;
}

.relative{
    position: relative;
}

.hide{
    display: none;
}

.show{
    display: block;
}




/*首页内容*/
body{
    background-color: #fff;
    color: #555;
}

.header{
    background-color: #3d444c;
    height: 56px;
    text-align: center;
    line-height: 56px;
}

.header .w{
    height: 56px;
}


/*标题栏logo*/
.header h1.logo{
    float: left;
    width: 101px;
    margin-right: 60px;
}

.header h1.logo a{
    display: block;
    color: #fff;
    font: 600 30px/56px "微软雅黑";
}



/*标题栏左侧导航*/
.header ul.left-nav li{
    float: left;
    height: 56px;
}


.header ul.left-nav li.current-nav a{
    color: #fff;
    background-color: #333;
}
.header ul.left-nav li a{
    display: block;
    height: 56px;
    width: 78px;
    font: 400 16px/56px 'Microsoft YaHei';
    color: #ddd;
}

.header ul.left-nav li a:hover{
    color: #fff;
    background-color: #333;
    text-decoration: none;
}





/*标题栏右侧导航*/
.header ul.right-nav li{
    float: right;
}

.header ul.right-nav li a{
    font: 400 16px/56px 'Microsoft YaHei';
}


.header ul.right-nav input{
    display: inline-block;
    width: 350px;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 2px 25px 2px 5px;
    background-color: #fff;
    line-height: 24px;
    color: #222;
    
}

.header ul.right-nav span{
    position: relative;
    margin-top: 21px;
    margin-left: -27px;
    color: #333;
}

.header ul.right-nav span:hover{
    color: #000;
}

.header ul.right-nav li.login{
    position: relative;
    top: 13px;
    margin-left: 20px;
    background-color: #FF411C;
    width: 110px;
    height: 30px;
    border-radius: 30px;
    text-align: center;
}


.header ul.right-nav li.login a{
    position: relative;
    bottom: 13px;
    color: #fff;
    font-size: 15px;
    text-decoration: none;
    

}

.header ul.right-nav li.login a:hover{
    color: #eee;
    text-decoration: none;
    background-color: #FF411C;
}

/*登录后的标题右侧*/

.header ul.right-nav li.login2{
    margin-left: 20px;
}

.header ul.right-nav li.login2 a{
    display: block;
    width: 56px;
}

.header ul.right-nav li.login2 a:hover{
    display: block;
    width: 56px;
    background-color: #333;
}

.header ul.right-nav li.login2 img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}









/*主体模块*/
.main{
    padding-top: 50px;
}


/*主体左部模块*/
.main-left{
    float: left;
    width: 690px;
    border: 1px solid #E0E0E0;

}


/*发帖模块*/
.main-left .share{
    height: 52px;
    padding-left: 20px;
    background-color: #fff;
    border-bottom: 1px dashed #ddd;
}

.main-left .share-left{
    float: left;
    font: 700 16px/52px "微软雅黑";
    color: #000;
}

.main-left .share-left span{
    display: inline-block;
    position: relative;
    top: -2px;
    height: 8px;
    width: 8px;
    background-color: #FF6547;
}

.main-left .share-right{
    float: right;

}

.main-left .share-right a{
    display: block;
    width: 110px;
    height: 34px;
    margin-top: 9px;
    margin-right: 15px;
    border-radius: 3px;
    background-color: #00BC9B;
    color: #fff;
    text-align: center;
    font: 14px/34px "微软雅黑";
    text-decoration: none;
}

.main-left .share-right a:hover{
    text-decoration: none;
    background-color: #25bb9b;
}

.main-left .share-right span{
    background-color: #00BC9B;
    color: #fff;
    text-align: center;
}



/*帖子模块*/

.main-left .post{
    background-color: #fff;
}

.main-left .post .post-wrap{
    width: 670px;
    margin: 0 auto;

}


/*帖子选择模块*/
.main-left .post .post-choice{
    height: 46px;
    padding-top: 14px;
}

.main-left .post .post-choice a{
    display: inline-block;
    padding: 0 10px;
    border-right: 1px solid #E0E0E0;
    font: 14px "微软雅黑";
    color: #888888;
    text-decoration: none;
}

.main-left .post .post-choice a:hover{
    color: #25bb9b;
    text-decoration: none;
}

.main-left .post .post-choice a.post-choice-last{
    border-right: none;
}

.main-left .post .post-choice a.post-choice-current{
    color: #25bb9b;
}


.main-left .post .post-choice a:hover{
    color: #25bb9b;
    text-decoration: none;
}


/*帖子列表模块*/
.main-left .post-list{
    padding: 0 10px;
}

.main-left .post-list li{
    height: 86px;
    padding: 15px 0;
    border-bottom: 1px solid #E5E5E5;

}

.main-left .post-list .post-image{
    float: left;
}

.main-left .post-list .post-image img{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 25px;
}

.main-left .post-list .post-content{
    float: left;
    width: 590px;
    margin-left: 10px;
}



/*帖子标题模块*/
.main-left .post-list .post-content .post-title{
    font: 14px/28px "微软雅黑";
}

.main-left .post-list .post-content .post-title a{
    color: #000;
    font-weight: 500;
    text-decoration: none;
}

.main-left .post-list .post-content .post-title a:hover{
    color: #1abc9c;
    font-weight: 500;
    text-decoration: none;
}


/*帖子其它模块*/
.main-left .post-list .post-content .post-other{
    font: 12px/20px "微软雅黑";
    height: 20px;
}

.main-left .post-list .post-content .post-other .post-other-left{
    float: left;
}

.main-left .post-list .post-content .post-other .post-other-left .post-username a{
    margin-right: 20px;
    color: #FF6547;
    text-decoration: none;
}

.main-left .post-list .post-content .post-other .post-other-left .post-username a:hover{
    color: #FF6547;
}



/*帖子其它模块右侧*/
.main-left .post-list .post-content .post-other .post-other-right{
    float: right;
}

/*主题右侧模块*/
.main-right{
    float: right;
    /*background-color: green;*/
    height: 900px;
    width: 260px;
}



/*主体右侧活跃用户模块*/
.main-right .hot-user{
    padding: 0 10px 14px;
    border: 1px solid #E0E0E0;
    margin-bottom: 10px;
    background-color: #fff;
}


.main-right .hot-user .hot-user-title{
    float: left;
    font: 700 16px/52px "微软雅黑";
    color: #000;
}

.main-right .hot-user div span{
    display: inline-block;
    position: relative;
    top: -2px;
    height: 8px;
    width: 8px;
    background-color: #FF6547;
}

.main-right .hot-user-list li{  
    padding: 6px 0;
}

.main-right .hot-user-list li{  
    border-top: 1px dashed #E0E0E0;
}

.main-right .hot-user-image{  
    float: left;
}

.main-right .hot-user-image img{
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.main-right .hot-user-name{
    float: right;
    font: 14px/40px "微软雅黑";
    color: #FF6547;
}



/*底部模块*/
.footer{
    margin-top: 10px;
    height: 50px;
    font: 12px/50px "微软雅黑";
    text-align: center;
    /*color: #798FAC;*/
    color: #A9B8CA;
    background-color: #2A2F35;
}



/*下拉菜单*/
.login2 #down-menu{
    display: none;
    position: absolute;
    z-index: 2;
    width: 120px;
    height: 120px;
}

.login2 #down-menu li{
    width: 120px;
    height: 60px;

}

.login2 #down-menu li a{
    font: 15px/60px "微软雅黑";
    text-align: center;
    color: #ddd;
    display: block;
    width: 120px;
    height: 60px;
    background-color: #2b333c;
}

.login2 #down-menu li a:hover{
    background-color: #333;
}










