.main{
    background-color: #fff;
    margin: 20px auto;
    padding: 20px 20px 60px;
}

/*头部标题*/
.edit-header{
    position: relative;
    font: 700 16px/52px "微软雅黑";
    color: #000;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 20px;
    padding-left: 10px;
}

.edit-header span{
    position: absolute;
    top: 20px;
    left: 0;
    height: 8px;
    width: 8px;
    background-color: #FF6547;
}


/*输入框*/
.edit-title{
    padding-bottom: 20px;
}

.edit-title input{
    border: 1px solid #d4d4d4;
    border-radius: 3px;
    color: #34495e;
    font-family: Lato,sans-serif;
    font-size: 14px;
    padding: 8px 5px;
    width: 700px;
    height: 40px;
}




.edit-submit{
    position: absolute;
    right: 166px;
    bottom: -50px;
    width: 126px;
    text-align: center;
    border-radius: 3px;
    background-color: #00B091;
    color: #fff;
    font: 14px/36px "微软雅黑";
}