<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.mapper.TopicMapper">

    <select id="listTopic" resultType="com.fc.model.Topic">
        select tid,name,content,image from topic
    </select>

    <select id="listImage" resultType="string">
        select image_url from image
    </select>
</mapper>
