<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.fc.mapper.UserMapper">


	<select id="selectEmailCount" resultType="int">
        select count(*) from user where email = #{email}
    </select>

    <insert id="insertUser">
        insert into user(email,password,actived,activate_code,join_time,username,head_url)
        values(#{email},#{password},#{actived},#{activateCode},#{joinTime},#{username},#{headUrl})
    </insert>



    <select id="selectActived" resultType="int">
        select actived from user where email=#{email}
    </select>

    <select id="selectUserByUid" resultType="com.fc.model.User">
        select uid,username,description,position,school,job,head_url,follow_count,follower_count,like_count,post_count,scan_count
        from user
        where uid=#{uid}
    </select>

    <select id="selectUidByEmailAndPassword" resultType="int">
        select uid from user where email=#{email} and password=#{password}
    </select>

    <select id="selectEditInfo" resultType="com.fc.model.User">
        select uid,username,description,position,school,job from user
        where uid=#{uid}
    </select>

    <update id="updateUser">
        update user set username=#{username},description=#{description},position=#{position},school=#{school},job=#{job}
        where uid=#{uid}
    </update>

    <update id="updatePostCount">
        update user set post_count = post_count+1 where uid=#{uid};
    </update>

    <update id="updateActived">
        update user set actived=1 where activate_code=#{activateCode}
    </update>

    <insert id="insertInfo">
        insert into info values(null,#{requestUrl},#{contextPath},#{remoteAddr},null)
    </insert>

    <select id="listUserByTime" resultType="com.fc.model.User">
        select uid,username,head_url from user order by join_time desc limit 6
    </select>

    <select id="listUserByHot" resultType="com.fc.model.User">
        select uid,username,head_url from user order by post_count desc limit 6
    </select>

    <update id="updateHeadUrl">
        update user set head_url=#{headUrl} where uid=#{uid}
    </update>

    <select id="selectHeadUrl" resultType="String">
        select head_url from user where uid=#{uid}
    </select>

    <update id="updateScanCount">
        update user set scan_count = scan_count + 1 where uid = #{uid}
    </update>

    <select id="selectUsernameByUid" resultType="com.fc.model.User">
        select uid,username from user where uid=#{uid}
    </select>

    <select id="selectPasswordByUid" resultType="String">
        select password from user where uid=#{uid}
    </select>

    <update id="updatePassword">
        update user set password = #{newPassword} where uid=#{uid}
    </update>

    <select id="selectVerifyCode" resultType="String">
        select activate_code from user where email=#{email}
    </select>

    <update id="updatePasswordByActivateCode">
        update user set password=substring(#{code},1,8) where activate_code=#{code}
    </update>
</mapper>


